
*.log
/.idea/sonarlint/issuestore/8/e
/.idea/sonarlint
/.idea/sonarlint/securityhotspotstore
/.idea/sonarlint/securityhotspotstore/8
/.idea/sonarlint/issuestore/e/7
/.idea/sonarlint
.idea/misc.xml
idea/
